<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= message %></h1>

    <table border="1" cellpadding="8">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(item => { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.email %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
